body {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}
canvas {
  border: 2px solid black;
}

#button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#chat {
  border: 2px solid black;
  padding: 10px;
  width: 20vw;
  height: 70vh;
  margin-top: 50px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#chat > #message-container {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: auto;
  align-self: flex-start;
  border: 2px solid red;
  overflow: hidden;
}
#chat > form {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chat > form > input {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  border-radius: 0.5em;
  font-size: 20px;
}
