<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Draw App</title>

    <%- include('partials/css-head') %>

    <link href="/css/game/game.css" rel="stylesheet" />
    <link href="/css/game/chat.css" rel="stylesheet" />
    <link href="/css/game/players.css" rel="stylesheet" />
    <link href="/css/game/round-data.css" rel="stylesheet" />

    <link href="/css/game/phone/game.css" rel="stylesheet" />
    <link href="/css/game/phone/chat.css" rel="stylesheet" />
    <link href="/css/game/phone/players.css" rel="stylesheet" />
    <link href="/css/game/phone/round-data.css" rel="stylesheet" />
  </head>
  <body>
    <!-- <%- include('partials/navbar') %> -->

    <main>
      <section id="round-data" class="shadow round-edges">
        <div id="round-index" class="shadow round-edges"></div>
        <div id="timer" class="shadow round-edges"></div>
        <!-- <div id="word" class="shadow round-edges">Data</div> -->
        <div id="user" class="shadow round-edges"></div>
      </section>

      <section id="players" class="shadow round-edges">
        <h3>Players</h3>
        <div id="players-container"></div>
      </section>

      <section>
        <div id="word" class="shadow round-edges">___</div>
        <section id="canvas-container" class="shadow round-edges">
          <div id="button-container">
            <button id="clear" class="shadow">Clear</button>
            <input type="color" name="" id="color-picker" class="shadow" />
            <button id="eraser" class="shadow">
              <i class="fa-solid fa-eraser"></i>
            </button>
          </div>

          <canvas height="300" width="300"></canvas>
        </section>
      </section>

      <section id="chat" class="shadow round-edges">
        <button id="drawer">show players</button>
        <h3>Chat</h3>
        <div id="message-container"></div>
        <form action="" id="message-input">
          <input type="text" name="message" id="" />
        </form>
      </section>

      <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
      <script src="js/index.js" type="module"></script>
    </main>
  </body>
</html>
