<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <%- include('partials/css-head') %>

    <link href="/css/how-to-play/how-to-play.css" rel="stylesheet" />
    <title>Guess App</title>
  </head>
  <body>
    <h1>How to play</h1>

    <main class="shadow round-edges">
      <img src="/assets/how-to-play.png" alt="" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
        delectus dolore assumenda voluptatibus expedita saepe? Error dolorum,
        expedita reiciendis, quo tenetur nihil ut hic asperiores repellendus
        dolorem officiis itaque maxime! Ex, magnam. Nobis corporis aliquam
        explicabo eius adipisci cum qui nesciunt provident voluptates illum
        veritatis, similique autem natus sed maxime nisi atque culpa? Dolorem
        unde accusantium explicabo impedit itaque temporibus. Provident odio ad
        quia ipsum quae perspiciatis! Provident reprehenderit facilis ipsam
        sapiente voluptatem corrupti error consectetur modi laborum culpa atque,
        blanditiis saepe ipsum illum asperiores cumque officia nobis debitis
        quod?
      </p>
      <a href="/">
        <button><i class="fa-solid fa-arrow-left"></i> Return</button>
      </a>
    </main>
  </body>
</html>
