<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="/css/index.css" rel="stylesheet" />
    <title>Draw App</title>
  </head>
  <body>
    <form action="/game" method="get">
      <input type="text" name="username" placeholder="enter a name" />
      <button>Submit</button>
    </form>
  </body>
</html>
