<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Draw App</title>

    <link href="/css/index.css" rel="stylesheet" />
  </head>
  <body>
    <%- body %>

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="js/index.js" type="module"></script>
  </body>
</html>
